<h1>Ajax Basics - Release 3</h1>
<p>For these challenges, edit 'release3.js'. You will find more instructions there.</p>

<hr>
<a href="#" id="displayMuppets" class="button-link">Get All Muppets</a>
<a href="#" id="newMuppet" class="button-link">Create Muppet</a>

<div id="muppetResults"></div>

<hr>
<a href="/release_2" class="nav-button-link">Release 2</a>
<a href="#" id="reset" class="reset-button-link">Reset Page</a>

<script src="/js/release3.js"></script>