<h1>Ajax Basics - Release 0</h1>
<p>For these challenges, edit 'release0.js'. You will find more instructions there.</p>

<hr>

<h3>Simple GET - Release 0 A</h3>
<p>Here we are going to create a basic 'GET' request.  We will perform an ajax call to a 'GET' route and return a simple string.  We will then write that string to our html.</p>

<a href="#" id="getRequest" class="button-link">Click Me for a Simple GET Request</a>
<p id="getResponse"></p>
<hr>

<h3>Simple POST - Release 0 B</h3>
<p>Here we are going to create a basic 'POST' request.  We will perform an ajax call to a 'POST' route.  We will pass along data to that request and build a string from that information which we will pass back and display to within our html.</p>

<a href="#" id="postRequest" class="button-link">Click Me for a Simple POST Request</a>
<p id="postResponse"></p>
<hr>

<a href="#" id="reset" class="reset-button-link">Reset Page</a><a href="/release_1" class="nav-button-link">Release 1</a>

<script src="/js/release0.js"></script>