<h1>Ajax Basics - Release 4</h1>
<p>For these challenges, edit 'release4.js'. You will find more instructions there.</p>

<hr>

<a href="/release_3" class="nav-button-link">Release 3</a>
<a href="#" id="reset" class="reset-button-link">Reset Page</a>

<script src="/js/release4.js"></script>