<h1>Ajax Basics - Release 0</h1>
<p>For these challenges, edit 'release0.js'. You will find more instructions there.</p>

<hr>
<a href="#" id="displayMuppets" class="button-link">Get All Muppets</a>
<a href="#" id="newMuppet" class="button-link">Create Muppet</a>

<div id="muppetResults"></div>

<hr>
<a href="/release_1" class="nav-button-link">Release 1</a>
<a href="#" id="reset" class="reset-button-link">Reset Page</a>

<script src="/js/release0.js"></script>