<h1>Ajax Basics - Release 1</h1>
<p>For these challenges, edit 'release1.js'. You will find more instructions there.</p>

<hr>

<h3>Simple GET with JSON - Release 1 A</h3>
<p>Here we are going to create a basic 'GET' request.  We will perform an ajax call to a 'GET' route and return json.  We will then take that data and extract the message to display it on the page in a paragraph.</p>

<a href="#" id="getRequest" class="button-link">Click Me for a Simple GET Request</a>
<p id="getResponse"></p>
<hr>

<h3>Simple POST with JSON - Release 1 B</h3>
<p>Here we are going to create a basic 'POST' request.  We will perform an ajax call to a 'POST' route and return json.  We will pass along data to that request and build a string from that information.  We will then take that data and extract the message to display it on the page in a paragraph.</p>

<a href="#" id="postRequest" class="button-link">Click Me for a Simple POST Request</a>
<p id="postResponse"></p>
<hr>

<a href="/release_0" class="nav-button-link">Release 0</a>
<a href="#" id="reset" class="reset-button-link">Reset Page</a>

<script src="/js/release1.js"></script>