<ul>
  <li>
    <label for="muppet_name">Name</label>
    <input id="muppet_name" type="text" name="muppet[name]" value="<%= muppet.name %>" />
  </li>
  <li>
    <label for="muppet_description">Description</label>
    <input id="muppet_description" type="text" name="muppet[description]" value="<%= muppet.description %>" />
  </li>
  <li>
    <input type="submit" name="muppetSave" value="Save" />
  </li>
</ul>